html,
body {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    line-height: 1;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    background: $color-background;
    color: $color-theme;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-align {
    text-align: center;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: all 0.6s;
}

.rotate-360 {
    transform: rotate(360deg);
    transition: all 0.6s;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.box-shadow {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
}