// 背景图片
@mixin bg-image($url) {
    background-image: url($url + "@2x.png");
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        background-image: url($url + "@3x.png");
    }
}

// 不换行
@mixin no-wrap() {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

// 扩展点击区域
@mixin extend-click() {
    &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
    }
}


/*
    $type == 1：水平居中
    $type == 2：垂直居中
    $type == 3：水平并垂直居中
*/

@mixin positionMiddle($type) {
    @if $type==1 {
        left: 50%;
        transform: translateX(-50%);
    }
    @else if $type==2 {
        top: 50%;
        transform: translateY(-50%);
    }
    @else if $type==3 {
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        transform: translateY(-50%);
    }
}