// 背景图片
@mixin bg-image($url) {
    background-image: url($url + "@2x.png");
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        background-image: url($url + "@3x.png");
    }
}

// 不换行
@mixin no-wrap() {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

// 扩展点击区域
@mixin extend-click() {
    &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
    }
}


/*
    绝对定位方式居中
    $type == 1：水平居中
    $type == 2：垂直居中
    $type == 3：水平并垂直居中
*/

@mixin positionMiddle($type) {
    @if $type==1 {
        left: 50%;
        transform: translateX(-50%);
    }
    @else if $type==2 {
        top: 50%;
        transform: translateY(-50%);
    }
    @else if $type==3 {
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        transform: translateY(-50%);
    }
}


/*
    flex布局方式居中
    $type == 1：水平居中
    $type == 2：垂直居中
    $type == 3：水平并垂直居中
*/

@mixin flexMiddle($type) {
    display: flex;
    flex-direction: column;
    @if $type==1 {
        /*水平居中*/
        justify-content: center;
    }
    @else if $type==2 {
        /*垂直居中*/
        align-items: center;
    }
    @else if $type==3 {
        /*垂直居中*/
        align-items: center;
        /*水平居中*/
        justify-content: center;
    }
}


/* 
    css三角形
    $type: topLeft、topRight、bottomRight、bottomLeft、
*/

@mixin cssTriangle($type, $size, $bgColor) {
    width: 0;
    height: 0;
    @if $type=='topLeft' {
        border-top: $size solid $bgColor;
        border-right: $size solid transparent;
    }
    @else if $type=='topRight' {
        border-top: $size solid $bgColor;
        border-left: $size solid transparent;
    }
    @else if $type=='bottomRight' {
        border-bottom: $size solid $bgColor;
        border-left: $size solid transparent;
    }
    @else if $type=='bottomLeft' {
        border-bottom: $size solid $bgColor;
        border-right: $size solid transparent;
    }
}