/* 要讲解字体icon变量 */

$icomoon-font-path: "/assets/common/fonts" !default;

$yaojiangjie-icon-app-catalog: "\e900";
$yaojiangjie-icon-app-catalog-1: "\e901";
$yaojiangjie-icon-app-close: "\e902";
$yaojiangjie-icon-app-collection: "\e903";
$yaojiangjie-icon-app-confirm: "\e904";
$yaojiangjie-icon-app-delete: "\e905";
$yaojiangjie-icon-app-drop-down: "\e906";
$yaojiangjie-icon-app-edit: "\e907";
$yaojiangjie-icon-app-home: "\e908";
$yaojiangjie-icon-app-linked-qq: "\e909";
$yaojiangjie-icon-app-linked-wechat: "\e90a";
$yaojiangjie-icon-app-linked-weibo: "\e90b";
$yaojiangjie-icon-app-not-collection: "\e90c";
$yaojiangjie-icon-app-passwd: "\e90d";
$yaojiangjie-icon-app-phone: "\e90e";
$yaojiangjie-icon-app-photo: "\e90f";
$yaojiangjie-icon-app-qrcode: "\e910";
$yaojiangjie-icon-app-scancode: "\e911";
$yaojiangjie-icon-app-settings: "\e912";
$yaojiangjie-icon-app-user: "\e913";