/* 要讲解字体icon变量 */

$icomoon-font-path: "/assets/common/fonts" !default;
$yaojiangjie-icon-app-close: "\e90d";
$yaojiangjie-icon-app-confirm: "\e90e";
$yaojiangjie-icon-app-settings: "\e90a";
$yaojiangjie-icon-app-catalog-1: "\e90b";
$yaojiangjie-icon-app-drop-down: "\e90c";
$yaojiangjie-icon-app-home: "\e909";
$yaojiangjie-icon-app-catalog: "\e900";
$yaojiangjie-icon-app-collection: "\e901";
$yaojiangjie-icon-app-delete: "\e902";
$yaojiangjie-icon-app-edit: "\e903";
$yaojiangjie-icon-app-not-collection: "\e904";
$yaojiangjie-icon-app-photo: "\e905";
$yaojiangjie-icon-app-qrcode: "\e906";
$yaojiangjie-icon-app-scancode: "\e907";
$yaojiangjie-icon-app-user: "\e908";