$icomoon-font-path: "fonts" !default;
$yaojiangjie-icon-app-back-catalog: "\e900";
$yaojiangjie-icon-app-close: "\e901";
$yaojiangjie-icon-app-next-page: "\e902";
$yaojiangjie-icon-app-pause: "\e903";
$yaojiangjie-icon-app-play: "\e904";
$yaojiangjie-icon-app-prev-page: "\e905";
$yaojiangjie-icon-app-right-arrow: "\e906";
$yaojiangjie-icon-app-stop: "\e907";