.login-wrap {
    width: calc(100% - 60px);
    position: relative;
    margin: 100px auto 0;
    padding: 60px 30px 30px;
    background-color: #FFF;
    border-radius: 6px;
    .logo-wrap {
        width: 100px;
        height: 100px;
        line-height: 100px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFF;
        border-radius: 50%;
        text-align: center;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        img {
            display: inline-block;
            margin-right: 6px;
        }
    }
    .login-body {
        text-align: center;
        .form-item {
            width: 100%;
        }
        .account-action {
            color: #FF9641;
            margin-top: 20px;
        }
        .login-btn-wrap {
            background-color: #FF9641; // border-radius: 30px;
            font-size: 16px;
            margin: 0 auto;
            margin-top: 20px;
        }
        .extra-login {
            margin-top: 50px;
            text-align: center;
            .title-text {
                display: flex;
                position: relative;
                color: #AAAAAA;
                .text {
                    padding: 0 10px;
                }
            }
            .title-text::before,
            .title-text::after {
                content: "";
                width: 100%;
                height: 1px;
                flex: 1;
                background-color: #CCC;
                margin-top: 10px;
            }
            .login-icon {
                display: flex;
                margin-top: 24px;
                .item {
                    flex: 1;
                }
            }
        }
    }
}

.validate-code-wrap {
    position: relative;
    .get-sms-btn {
        position: absolute;
        top: -12px;
        right: 0;
        .btn {
            font-size: 12px;
            background-color: #ff9742;
            padding: 8px 14px 7px 14px;
        }
    }
}