<div [@routerTransition] *ngIf="!ordinaryLogin">
    <form #fastLoginForm="ngForm" method="post">
        <div class="login-wrap card-shadow">
            <div class="logo-wrap">
                <img src="/assets/common/images/login/logo-colorized.png" width="40px" alt="logo">
            </div>

            <div class="login-body">
                <div class="form-item">
                    <div class="form-group label-floating">
                        <input class="form-control" type="number" name="phoneNumber" [(ngModel)]="phoneModel.phoneNum" maxlength="11" pattern="(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7}" placeholder="{{l('PhoneNumber')}}" autofocus required>
                    </div>
                </div>

                <div class="form-item">
                    <div class="validate-code-wrap form-group label-floating">
                        <input class="form-control" type="number" name="identifyCode" [(ngModel)]="phoneModel.loginCode" required placeholder="{{l('VerificationCode')}}">
                        <div class="get-sms-btn">
                            <button type="button" class="btn" (click)="send()" #smsBtn [disabled]="isSendSMS">{{l('GetVerificationCode')}}</button>
                        </div>
                    </div>
                </div>

                <button class="btn primary-bgcolor btn-block login-btn-wrap" type="submit" (click)="login()" [disabled]="!fastLoginForm.form.valid" [buttonBusy]="saving" [busyText]="l('Logging')">
                            <i></i>
                            <span>{{l("LogIn")}}</span>
                    </button>

                <div class="form-item clearfix account-action">
                    <span class="pull-left" routerLink="/auth/register">快速注册</span>
                    <span class="pull-right" (click)="isOrdinaryLogin()">普通登录</span>
                </div>

                <div class="extra-login">
                    <div class="title-text"><span class="text">第三方平台登录</span></div>
                    <!-- <div *ngIf="loginService.externalLoginProviders.length > 0">
                            <ul class="social-icons-wrap">
                                <li *ngFor="let provider of loginService.externalLoginProviders">
                                    <a *ngIf="provider.name!='WeChatMP'" class="social-login-icon social-icon-color {{provider.icon}}"></a>
                                </li>
                            </ul>
                        </div> -->
                    <div class="login-icon">
                        <span class="item"><img src="/assets/common/images/login/qq-x2.png" (click)="mobileExternalLogin(loginService.externalLoginProviders[2])" width="38px" alt="qq"></span>
                        <span class="item">
                            <img src="/assets/common/images/login/weibo-x2.png" width="38px" alt="weibo">
                        </span>
                        <span class="item"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div [@routerTransition] *ngIf="ordinaryLogin">
    <form #loginForm="ngForm" method="post">
        <div class="login-wrap card-shadow">
            <div class="logo-wrap">
                <img src="/assets/common/images/login/logo-colorized.png" width="40px" alt="logo">
            </div>

            <div class="login-body">
                <div class="form-item">
                    <div class="form-group label-floating">
                        <input class="form-control" type="text" placeholder="用户名/手机号/邮箱" [(ngModel)]="loginService.authenticateModel.loginCertificate" name="UserName" required autofocus>
                    </div>
                </div>

                <div class="form-item">
                    <div class="form-group label-floating">
                        <input class="form-control" type="password" placeholder="密码" [(ngModel)]="loginService.authenticateModel.password" name="EmailAddress" required>
                    </div>
                </div>

                <button class="btn primary-bgcolor btn-block login-btn-wrap" type="submit" (click)="login()" [disabled]="!loginForm.form.valid" [buttonBusy]="saving" [busyText]="l('Logging')">
                    <i></i>
                    <span>{{l("LogIn")}}</span>
                </button>

                <div class="form-item clearfix account-action">
                    <span class="pull-left">快速注册</span>
                    <span class="pull-right" (click)="isPhoneLogin()">短信登录</span>
                </div>

                <div class="extra-login">
                    <div class="title-text"><span class="text">第三方平台登录</span></div>
                    <div class="login-icon">
                        <span class="item"><img src="/assets/common/images/login/qq-x2.png" (click)="mobileExternalLogin(loginService.externalLoginProviders[2])" width="38px" alt="weChat"></span>
                        <span class="item"><img src="/assets/common/images/login/weibo-x2.png" width="38px" alt="weibo"></span>
                        <span class="item">
                            <!-- <img src="/assets/common/images/login/weibo-x2.png" width="38px" alt="weChat"> -->
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>