@import 'src/sass/yaojiangjie/colors';
.pagination {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1001;
    width: 42px;
    background-color: $color-black-l;
    transform: translateY(-50%);
    border-radius: 4px;
    margin: 0;
    .icon {
        width: 42px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        font-size: 18px;
        cursor: pointer;
        color: #FFF;
        &.scan-icon {
            font-size: 16px;
        }
        &.prev-icon,
        &.next-icon {
            font-size: 12px;
        }
    }
}