@import 'src/sass/yaojiangjie/colors';
.pagination {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1001;
    width: 42px;
    height: 126px;
    background-color: $color-black-l;
    transform: translateY(-50%);
    border-radius: 4px;
    // TODO: 测试
    .icon:nth-child(2) {
        font-size: .28rem;
    }
    .icon {
        width: 42px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        font-size: .24rem;
        cursor: pointer;
        color: #FFF;
    }
}