@import 'src/sass/yaojiangjie/colors';
.pagination {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1001;
    width: 42px;
    height: 126px;
    background-color: $color-black-l;
    transform: translateY(-50%);
    border-radius: 4px;
    .icon {
        width: 42px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        font-size: 12px;
        cursor: pointer;
        color: #FFF;
    }
}