<div [@routerTransition] style="height: 100%; background-color: #F7F7F7;">
    <div class="looked-exhibit-wrap">
        <div class="content">
            <div class="exhibit-item" (click)="toDirPath(item.id)" *ngFor="let item of allDirSelectData">
                <div class="flex-left">
                    <p class="month">{{ t(item.creationTime, 'MM') }}月</p>
                    <p class="day">{{ t(item.creationTime, 'DD') }}</p>
                </div>
                <div class="flex-right box-shadow">
                    <div class="img-wrap" [ngStyle]="{'background-image': 'url(' + item.coverUrl + ')'}"></div>
                    <div class="bottom-info">
                        <p class="title text-overflow">{{ item.name }}</p>
                        <div class="exhibit-num"><span class="number">{{ item.count }}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<yaojiangjie-paging></yaojiangjie-paging>