<div [@routerTransition] style="height: 100%;">
    <div class="looked-exhibit-wrap">
        <div class="content">
            <div class="exhibit-item">
                <div class="flex-left">
                    <p class="month">11月</p>
                    <p class="day">30</p>
                </div>
                <div class="flex-right box-shadow">
                    <div class="img-wrap"></div>
                    <p class="title text-overflow">夜郎国的疑问-黔西南州古代文物精品展</p>
                </div>
                <div class="exhibit-num box-shadow">19P</div>
            </div>
        </div>
    </div>
</div>