<div [@routerTransition] style="height: 100%;">
    <div class="looked-exhibit-wrap">
        <div class="content">
            <div class="exhibit-item" (click)="toDirPath(item.id)" *ngFor="let item of allDirSelectData">
                <div class="flex-left">
                    <p class="month">11月</p>
                    <p class="day">30</p>
                </div>
                <div class="flex-right box-shadow">
                    <div class="img-wrap" [ngStyle]="{'background-image': 'url(' + item.coverUrl + ')'}"></div>
                    <p class="title text-overflow">{{ item.name }}</p>
                </div>
                <div class="exhibit-num box-shadow">{{ item.count }}P</div>
            </div>
        </div>
    </div>
</div>