.register-wrap {
    width: 380px;
    position: relative;
    display: block;
    margin: 100px auto 0;
    padding: 60px 30px 30px;
    background-color: #FFF;
    .logo-wrap {
        width: 100px;
        height: 100px;
        line-height: 100px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFF;
        border-radius: 50%;
        text-align: center;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        img {
            width: 40px;
            display: inline-block;
            margin-right: 6px;
        }
    }
    .register-body {
        .validate-code-wrap {
            position: relative;
            .get-sms-btn {
                position: absolute;
                top: -14px;
                right: 0;
                .btn {
                    padding: 8px 14px 7px 14px;
                    background-color: #ff9742;
                }
            }
        }
        .register-btn-wrap {
            width: 100%;
            height: 44px;
            text-align: center;
            .btn-register {
                width: 100%;
                height: 44px;
                font-size: 16px;
                text-align: center;
                margin-bottom: 20px;
                background: url("/assets/common/images/login/bg-gradient.jpg");
                background-repeat: repeat-y;
            }
        }
    }
}