<div class="user-login" #loginBg>
    <router-outlet></router-outlet>
</div>
<!--<div class="user-login">
    <div class="row bs-reset">
        <div class="col-md-6 slide-img bs-reset">
            <background-image-slider></background-image-slider>
            <a href="~/">
                <img class="login-logo" src="/assets/common/images/app-logo-on-dark.png" alt="" width="180" />
            </a>
        </div>
        <div class="col-md-6 login-container bs-reset">
            <div class="login-content">
                <div *ngIf="showTenantChange()" class="content tenant-change-box">
                    <tenant-change></tenant-change>
                </div>

                <div class="content account-forms">
                    <router-outlet></router-outlet>
                </div>

                <div class="login-footer margin-bottom-10">
                    <div class="row bs-reset">
                        <div class="col-xs-5 bs-reset">
                            <div class="login-copyright text-left">
                                <languageSwitch></languageSwitch>
                            </div>
                        </div>
                        <div class="col-xs-7 bs-reset">
                            <div class="login-copyright text-right">
                                <p>{{currentYear}} © {{l("Admin.Copyright")}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->