@import "../../../sass/yaojiangjie/_mixin";
.user-home-wrap {
    height: 100%;
    padding: 15px;
    background-color: #F7F7F7;
    .content {
        width: 100%;
        height: 100%;
        .user-header {
            width: 100%;
            height: 150px;
            border-radius: 4px;
            background-color: #33BBFF;
            @include flexMiddle(3);
            .avatar-wrap {
                text-align: center;
                .avatar {
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center center;
                    overflow: hidden;
                }
                .user-name {
                    font-size: 15px;
                    color: #FFF;
                    margin-top: 6px;
                }
            }
        }

        .user-setting {
            width:100%;
            padding: 0 15px;
            margin-top: 15px;
            border-radius: 4px;
            background-color: #FFF;
            .list-item + .list-item {
                border-top: 1px solid #F7F7F7;
            }
            .list-item {
                width:100%;
                height: 60px;
                line-height: 60px;
                color: #333;
                .text {
                    font-size:  14px;;
                }
                .icon {
                    height: 60px;
                    line-height: 60px;
                    display: inline-block;
                    transform: rotate(-90deg);
                }
            }
        }
    }
}