<div [@routerTransition] style="height:100%">
    <div class="user-home-wrap">
        <div class="content">
            <div class="user-header">
                <div class="avatar-wrap">
                    <img class="avatar" [src]="getUserAvatar()" alt="userAvatar">
                    <h1 class="user-name">微信昵称</h1>
                </div>
            </div>
            <ul class="dir-list">
                <li class="list-item" [ngStyle]="randomColorStyle()">夜郎国的疑问</li>
                <li class="list-item" [ngStyle]="randomColorStyle()">夜郎国的疑问</li>
                <li class="list-item" [ngStyle]="randomColorStyle()">夜郎国的疑问</li>
                <li class="list-item" [ngStyle]="randomColorStyle()">夜郎国的疑问</li>
                <li class="list-item" [ngStyle]="randomColorStyle()">夜郎国的疑问</li>
            </ul>
        </div>
    </div>
</div>