@font-face {
  font-family: 'xiaoyuyue';
  src:  url('fonts/xiaoyuyue.eot?o42wgv');
  src:  url('fonts/xiaoyuyue.eot?o42wgv#iefix') format('embedded-opentype'),
    url('fonts/xiaoyuyue.ttf?o42wgv') format('truetype'),
    url('fonts/xiaoyuyue.woff?o42wgv') format('woff'),
    url('fonts/xiaoyuyue.svg?o42wgv#xiaoyuyue') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="vapps-icon-"], [class*=" vapps-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xiaoyuyue' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vapps-icon-app-active:before {
  content: "\e900";
}
.vapps-icon-app-add:before {
  content: "\e901";
}
.vapps-icon-app-add-booking-item:before {
  content: "\e902";
}
.vapps-icon-app-add-time-field:before {
  content: "\e903";
}
.vapps-icon-app-at-top-1:before {
  content: "\e904";
}
.vapps-icon-app-at-top-2:before {
  content: "\e905";
}
.vapps-icon-app-back:before {
  content: "\e906";
}
.vapps-icon-app-back-left:before {
  content: "\e907";
}
.vapps-icon-app-booked:before {
  content: "\e908";
}
.vapps-icon-app-cancel:before {
  content: "\e909";
}
.vapps-icon-app-cancel-booking:before {
  content: "\e90a";
}
.vapps-icon-app-change-passwd:before {
  content: "\e90b";
}
.vapps-icon-app-check:before {
  content: "\e90c";
}
.vapps-icon-app-close:before {
  content: "\e90d";
}
.vapps-icon-app-confirm:before {
  content: "\e90e";
}
.vapps-icon-app-contact:before {
  content: "\e90f";
}
.vapps-icon-app-copy-2:before {
  content: "\e910";
}
.vapps-icon-app-delete-time-field:before {
  content: "\e911";
}
.vapps-icon-app-detail:before {
  content: "\e912";
}
.vapps-icon-app-drop-down:before {
  content: "\e913";
}
.vapps-icon-app-edit:before {
  content: "\e914";
}
.vapps-icon-app-finished:before {
  content: "\e915";
}
.vapps-icon-app-first-page:before {
  content: "\e916";
}
.vapps-icon-app-last-page:before {
  content: "\e917";
}
.vapps-icon-app-link-qq:before {
  content: "\e918";
}
.vapps-icon-app-link-wechat:before {
  content: "\e919";
}
.vapps-icon-app-link-weibo:before {
  content: "\e91a";
}
.vapps-icon-app-location:before {
  content: "\e91b";
}
.vapps-icon-app-logo:before {
  content: "\e91c";
}
.vapps-icon-app-logo-text:before {
  content: "\e91d";
}
.vapps-icon-app-menu:before {
  content: "\e91e";
}
.vapps-icon-app-menu-booked:before {
  content: "\e91f";
}
.vapps-icon-app-menu-home:before {
  content: "\e920";
}
.vapps-icon-app-menu-logout:before {
  content: "\e921";
}
.vapps-icon-app-menu-personal:before {
  content: "\e922";
}
.vapps-icon-app-menu-setting:before {
  content: "\e923";
}
.vapps-icon-app-message:before {
  content: "\e924";
}
.vapps-icon-app-mode-toggle-1:before {
  content: "\e925";
}
.vapps-icon-app-mode-toggle-2:before {
  content: "\e926";
}
.vapps-icon-app-multitask:before {
  content: "\e927";
}
.vapps-icon-app-next-page:before {
  content: "\e928";
}
.vapps-icon-app-phone:before {
  content: "\e929";
}
.vapps-icon-app-preview:before {
  content: "\e92a";
}
.vapps-icon-app-prev-page:before {
  content: "\e92b";
}
.vapps-icon-app-qr-code:before {
  content: "\e92c";
}
.vapps-icon-app-refurbish:before {
  content: "\e92d";
}
.vapps-icon-app-remove:before {
  content: "\e92e";
}
.vapps-icon-app-search:before {
  content: "\e92f";
}
.vapps-icon-app-submit:before {
  content: "\e930";
}
.vapps-icon-app-suggest:before {
  content: "\e931";
}
.vapps-icon-app-time-line-item-name:before {
  content: "\e932";
}
.vapps-icon-app-time-line-outlet:before {
  content: "\e933";
}
.vapps-icon-app-time-line-shophours:before {
  content: "\e934";
}
.vapps-icon-app-to-bottom:before {
  content: "\e935";
}
.vapps-icon-app-to-top:before {
  content: "\e936";
}
.vapps-icon-app-upload:before {
  content: "\e937";
}
.vapps-icon-app-user-auth:before {
  content: "\e938";
}
.vapps-icon-app-user-center:before {
  content: "\e939";
}
.vapps-icon-app-user-feedback:before {
  content: "\e93a";
}
.vapps-icon-app-user-info:before {
  content: "\e93b";
}
.vapps-icon-app-user-logout:before {
  content: "\e93c";
}
.vapps-icon-app-user-manage:before {
  content: "\e93d";
}
.vapps-icon-app-user-profile:before {
  content: "\e93e";
}
.vapps-icon-app-user-security:before {
  content: "\e93f";
}
.vapps-icon-app-user-setting:before {
  content: "\e940";
}
.vapps-icon-app-validate-email:before {
  content: "\e941";
}
.vapps-icon-app-validate-phone:before {
  content: "\e942";
}
.vapps-icon-linked-qq:before {
  content: "\e943";
}
.vapps-icon-linked-wechat:before {
  content: "\e944";
}
.vapps-icon-linked-weibo:before {
  content: "\e945";
}
