$icomoon-font-path: "fonts" !default;

$vapps-icon-app-active: "\e900";
$vapps-icon-app-add: "\e901";
$vapps-icon-app-add-booking-item: "\e902";
$vapps-icon-app-add-time-field: "\e903";
$vapps-icon-app-at-top-1: "\e904";
$vapps-icon-app-at-top-2: "\e905";
$vapps-icon-app-back: "\e906";
$vapps-icon-app-back-left: "\e907";
$vapps-icon-app-booked: "\e908";
$vapps-icon-app-cancel: "\e909";
$vapps-icon-app-cancel-booking: "\e90a";
$vapps-icon-app-change-passwd: "\e90b";
$vapps-icon-app-check: "\e90c";
$vapps-icon-app-close: "\e90d";
$vapps-icon-app-confirm: "\e90e";
$vapps-icon-app-contact: "\e90f";
$vapps-icon-app-copy-2: "\e910";
$vapps-icon-app-delete-time-field: "\e911";
$vapps-icon-app-detail: "\e912";
$vapps-icon-app-drop-down: "\e913";
$vapps-icon-app-edit: "\e914";
$vapps-icon-app-finished: "\e915";
$vapps-icon-app-first-page: "\e916";
$vapps-icon-app-last-page: "\e917";
$vapps-icon-app-link-qq: "\e918";
$vapps-icon-app-link-wechat: "\e919";
$vapps-icon-app-link-weibo: "\e91a";
$vapps-icon-app-location: "\e91b";
$vapps-icon-app-logo: "\e91c";
$vapps-icon-app-logo-text: "\e91d";
$vapps-icon-app-menu: "\e91e";
$vapps-icon-app-menu-booked: "\e91f";
$vapps-icon-app-menu-home: "\e920";
$vapps-icon-app-menu-logout: "\e921";
$vapps-icon-app-menu-personal: "\e922";
$vapps-icon-app-menu-setting: "\e923";
$vapps-icon-app-message: "\e924";
$vapps-icon-app-mode-toggle-1: "\e925";
$vapps-icon-app-mode-toggle-2: "\e926";
$vapps-icon-app-multitask: "\e927";
$vapps-icon-app-next-page: "\e928";
$vapps-icon-app-phone: "\e929";
$vapps-icon-app-preview: "\e92a";
$vapps-icon-app-prev-page: "\e92b";
$vapps-icon-app-qr-code: "\e92c";
$vapps-icon-app-refurbish: "\e92d";
$vapps-icon-app-remove: "\e92e";
$vapps-icon-app-search: "\e92f";
$vapps-icon-app-submit: "\e930";
$vapps-icon-app-suggest: "\e931";
$vapps-icon-app-time-line-item-name: "\e932";
$vapps-icon-app-time-line-outlet: "\e933";
$vapps-icon-app-time-line-shophours: "\e934";
$vapps-icon-app-to-bottom: "\e935";
$vapps-icon-app-to-top: "\e936";
$vapps-icon-app-upload: "\e937";
$vapps-icon-app-user-auth: "\e938";
$vapps-icon-app-user-center: "\e939";
$vapps-icon-app-user-feedback: "\e93a";
$vapps-icon-app-user-info: "\e93b";
$vapps-icon-app-user-logout: "\e93c";
$vapps-icon-app-user-manage: "\e93d";
$vapps-icon-app-user-profile: "\e93e";
$vapps-icon-app-user-security: "\e93f";
$vapps-icon-app-user-setting: "\e940";
$vapps-icon-app-validate-email: "\e941";
$vapps-icon-app-validate-phone: "\e942";
$vapps-icon-linked-qq: "\e943";
$vapps-icon-linked-wechat: "\e944";
$vapps-icon-linked-weibo: "\e945";

