<div [@routerTransition] style="height:100%">
    <div class="settings-wrap">
        <div class="security-wrap clearfix">
            <h5 class="title col-xs-12">安全信息
                <small>完善账户安全信息，更好地保护您的数据安全</small>
            </h5>
            <div class="card-wrap col-xs-6">
                <div class="card">
                    <div class="item">
                        <div class="content">
                            <span class="icon yaojiangjie-icon-app-passwd"></span>
                            <p class="text">更换密码</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-wrap col-xs-6">
                <div class="card">
                    <div class="item">
                        <div class="content">
                            <span class="icon yaojiangjie-icon-app-phone"></span>
                            <p class="text">更换手机</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="account-wrap">
            <h5 class="title col-xs-12">
                账户关联
                <small>关联第三方账号</small>
            </h5>
            <div class="clearfix">
                <!-- 微信绑定 -->
                <div class="card-wrap col-xs-6">
                    <div class="card">
                        <div class="item">
                            <div class="content">
                                <span class="icon yaojiangjie-icon-app-linked-wechat" style="font-size: 30px;"></span>
                                <p class="text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>