<!-- 验证旧手机  -->
<div class="current-phone-wrap">
        <div [@routerTransition] *ngIf="!currentPhoneNum ? false :  !isVerified">
            <form #currentPhoneFrom="ngForm">
                <div class="card">
                    <div class="card-header card-header-text" data-background-color="blue">
                        <span class="title-icon yaojiangjie-icon-app-phone"></span>
                    </div>
    
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group label-floating" [class.is-empty]="!encryptPhoneNum">
                                <label class="control-label">原手机号</label>
                                <input type="text" class="form-control" name="beforePhone" [value]="encryptPhoneNum" disabled>
                                <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group label-floating">
                                <label class="control-label">验证码</label>
                                <input type="text" class="form-control" name="validateCode" [(ngModel)]="code" required>
                                <button class="btn primary-bgcolor btn-sm vaildate-code" (click)="send($event, currentPhoneNum, 60)" [disabled]="isSendSMS">发送验证码</button>
                                <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <!-- <div class="col-xs-6">
                                <button class="btn btn-block btn-danger" type="button" (click)="cancel()">取消</button>
                            </div> -->
                        <div class="col-xs-12">
                            <button class="btn btn-block primary-bgcolor" type="submit" (click)="verificationPhoneNum()" [disabled]="!currentPhoneFrom.form.valid">下一步</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    
        <!-- 验证旧手机后，绑定新手机 -->
        <div class="new-phone-wrap" *ngIf="!currentPhoneNum ? false :  isVerified">
            <form #newPhoneFrom="ngForm">
                <div class="card">
                    <div class="card-header card-header-text" data-background-color="blue">
                        <span class="title-icon yaojiangjie-icon-app-phone"></span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group label-floating">
                                <label class="control-label">新手机号</label>
                                <input type="text" class="form-control" name="beforePhone" [(ngModel)]="changeBindingPhoneNumInput.newTelephone" (ngModelChange)="getPhoneNum($event)"
                                    required>
                                <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group label-floating">
                                <label class="control-label">验证码</label>
                                <input type="text" class="form-control" name="validateCode" [(ngModel)]="changeBindingPhoneNumInput.bundlingCode" required>
                                <button class="btn primary-bgcolor btn-sm vaildate-code" (click)="send($event, changeBindingPhoneNumInput.newTelephone, 50)"
                                    #smsBtn [disabled]="isSendNewPhone">发送验证码</button>
                                <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <!-- <div class="col-xs-6">
                                <button class="btn btn-block btn-danger" type="button" (click)="cancel()">取消</button>
                            </div> -->
                        <div class="col-xs-12">
                            <button class="btn btn-block primary-bgcolor" type="submit" (click)="changeBindPhone()" [disabled]="!newPhoneFrom.form.valid">保存</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    
        <!-- 没有绑定过手机，绑定手机 -->
        <div class="new-phone-wrap" *ngIf="!currentPhoneNum" [@routerTransition]>
            <form #newPhoneFrom="ngForm">
                <div class="card">
                    <div class="card-header card-header-text" data-background-color="blue">
                        <span class="title-icon yaojiangjie-icon-app-phone"></span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group label-floating">
                                <label class="control-label">新手机号</label>
                                <input type="text" class="form-control" name="beforePhone" [(ngModel)]="bindingPhoneNumInput.phoneNum" (ngModelChange)="getPhoneNum($event)"
                                    required>
                                <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group label-floating">
                                <label class="control-label">验证码</label>
                                <input type="text" class="form-control" name="validateCode" [(ngModel)]="bindingPhoneNumInput.code" required>
                                <button class="btn primary-bgcolor btn-sm vaildate-code" (click)="send($event, bindingPhoneNumInput.phoneNum, 50)" #smsBtn [disabled]="isSendNewPhone">发送验证码</button>
                                <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <!-- <div class="col-xs-6">
                                <button class="btn btn-block btn-danger" type="button" (click)="cancel()">取消</button>
                            </div> -->
                        <div class="col-xs-12">
                            <button class="btn btn-block primary-bgcolor" type="submit" (click)="bindPhone()" [disabled]="!newPhoneFrom.form.valid">绑定</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    