.current-phone-wrap,
.new-phone-wrap {
    min-height: calc(100vh - 55px);
    padding: 15px;
    .card {
        padding: 0px 16px 20px;
        .card-header.card-header-text {
            display: inline-block;
            .title-icon {
                font-size: 30px;
            }
        }
        .vaildate-code {
            position: absolute;
            right: 2px;
            bottom: 8px;
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 14px;
        }
    }
}
