<div [@routerTransition] style="height:100%">
    <div class="about-wrap">
        <div class="avatar-wrap">
            <img src="/assets/common/images/admin/logo-white.png" width="24px" alt="logo">
        </div>
        
        <div class="summary-wrap section-item">
            <h1 class="title">“要讲解”博物馆服务系统简介</h1>
            <p class="desc">“要讲解”博物馆服务系统，是以博物馆讲解服务为主的软件系统，旨在帮助中小型博物馆便捷建立移动互联网的讲解服务，帮助中小型博物馆、美术馆实现展览数据化，并搭建会员管理系统等互联网功能服务。</p>
        </div>

        <div class="section-item">
            <h2 class="sub-title">讲解</h2>
            <p class="desc">博物馆便捷讲解服务：帮助博物馆、美术馆便捷生成“数字展签”，以二维码等方式，使用户可以便捷获取展品的讲解信息。“数字展签”，不仅可以获取用户的数据信息，帮助馆方了解参观数据，同时观众可即时分享到社交网络，为博物馆带来更好宣传。</p>
        </div>

        <div class="section-item">
            <h2 class="sub-title">电子商城</h2>
            <p class="desc">博物馆衍生品及电商服务：于“数字展签”的数据及馆方的推荐，合作开发博物馆衍生品，开拓更多宣传渠道。帮助馆方建立电商系统，不仅可以销售衍生品，还可以管理会员，微信宣传等功能。</p>
        </div>

        <div class="section-item">
            <h2 class="sub-title">线上运营与延伸服务</h2>
            <p class="desc">博物馆线上运营与延伸服务：随著移动互联网的发展，互联网宣传成为主要宣传阵地，帮助馆方线上宣传，链接更多观众，即时反馈，带来更多宣传机会。<br>不仅是线上的运营，还帮助馆方延伸服务，全新互动设备、设计服务、摄影摄像服务、活动策划、展馆搭建等。</p>
        </div>

    </div>
</div>