<div class="dir-item-wrap">
    <div class="content box-shadow">
        <div class="water-fall-wrap">
            <div class="water-fall-content">
                <div class="item-column">
                    <div class="img-wrap" [@routerTransition] [ngClass]="{'active': srcItem == selectedCoverUrl}" (click)="selectedCoverImgHandle(srcItem)" *ngFor="let srcItem of imgListLeftColumn">
                        <img width="100%" [src]="srcItem" alt="exhibit">
                    </div>
                </div>
                <div class="item-column">
                    <div class="img-wrap" [@routerTransition] [ngClass]="{'active': srcItem == selectedCoverUrl}" (click)="selectedCoverImgHandle(srcItem)" *ngFor="let srcItem of imgListRightColumn">
                        <img width="100%" [src]="srcItem" alt="exhibit">
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="form-group" *ngIf="wxScanQRCodeInfoDirItem">
                    <input type="text" name="title" [(ngModel)]="wxScanQRCodeInfoDirItem.name" class="form-control">
                </div>

                <button class="btn btn-block" (click)="saveData()">保存</button>
            </div>
        </div>
    </div>