@import '../../../../sass/yaojiangjie/_colors';
.dir-wrap {
    .modal-body {
        padding-top: 0;
        .save-dir-wrap {
            .header {
                height: 50px;
                line-height: 50px;
                display: flex;
                cursor: pointer;
                .text {
                    flex: 1;
                }
                .icon {
                    height: 50px;
                    line-height: 50px;
                    flex: 0 0 50px;
                    text-align: center;
                }
            }
            .content {
                height: 0;
                overflow: hidden;
                transition: height .4s;
                .dir-item {
                    height: 44px;
                    line-height: 44px;
                    display: flex;
                    color: #000;
                    border-bottom: 1px solid rgb(224, 224, 224);
                    .text {
                        flex: 1;
                    }
                    .icon {
                        flex: 0 0 50px;
                        width: 50px;
                        height: 44px;
                        line-height: 44px;
                        transition: all .6s;
                        color: $color-theme;
                    }
                }
            }
        }
        .new-dir-wrap {
            margin-top: 30px;
        }
        .save-btn-wrap {
            .btn {
                background-color: $color-theme;
            }
        }
    }
}