<div class="dir-wrap">
    <div class="modal fade" bsModal #saveDirModel="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left"><img src="/assets/common/images/admin/chromatic-logo@3x.png" width="70px" alt=""></h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="saveDirModel.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                </div>
                <div class="modal-body">
                    <div class="save-dir-wrap" *ngIf="allDirSelectData.length > 0">
                        <div class="header" (click)="toggleShowExistedDir()">
                            <span>保存到目录</span>
                            <span>∨</span>
                        </div>
                        <div class="content" [ngStyle]="{'height': getExistedDirHeight()}">
                            <div class="dir-item" (click)="getSelectedDirId(item.id)" *ngFor="let item of allDirSelectData">{{ item.name }}</div>
                        </div>
                    </div>

                    <div class="new-dir-wrap">
                        <div class="form-group">
                            <input type="text" name="newDir" placeholder="保存为新目录" class="form-control" [(ngModel)]="catalogInput.name" [disabled]="isShowExistedDirFlag">
                        </div>
                    </div>

                    <div class="save-btn-wrap">
                        <button class="btn btn-block" (click)="saveDirData()">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>