<section class="detail-wrap">
    <section [@routerTransition]>
        <section class="top-banner">
            <h1 class="title">{{ detailData.name }}</h1>
        </section>
        <section class="content">
            <section class="pic-carousel box-shadow">
                <img *ngFor="let imageItem of detailData.images" width="100%" [src]="imageItem" alt="">
            </section>
            <section class="player-wrap box-shadow"></section>
            <section class="intro-wrap">
                <h4 class="little-title"><span class="ornament"></span><span class="text">展品介绍</span></h4>
                <div class="intro-text" [innerHTML]="detailData.desc"></div>
            </section>
            <section class="qrcode-wrap">
                <img class="img" width="120px" src="/assets/common/images/admin/yaojiangjie-qrcode.png" alt="qrcode">
                <p class="text">长按二维码关注要讲解</p>
            </section>
            <section class="gift-wrap">
                <h4 class="little-title"><span class="ornament"></span><span class="text">文创礼品</span></h4>
                <section class="gift-list">
                    <section class="gift-content clearfix">
                        <section class="gift-item pull-left" *ngFor="let item of detailData.choice.item">
                            <img width="100%" src="/assets/common/images/admin/1/1-2.png" alt="">
                            <h2 class="title">思维弥勒菩萨</h2>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>