<div [@routerTransition] style="height: 100%;">
    <div class="home-wrap">
        <div class="content">
            <div class="item scan-qrcode" (click)="scanQRCode()">
                <div class="icon-wrap">
                    <span class="yaojiangjie-icon yaojiangjie-icon-app-qrcode"></span>
                </div>
                <div class="text">扫二维码</div>
            </div>
            <div class="item looked-exhibit" routerLink="/looked-exhibit">
                <div class="icon-wrap">
                    <span class="yaojiangjie-icon yaojiangjie-icon-app-catalog"></span>
                </div>
                <div class="text">看展历史</div>
            </div>
            <div class="item user" routerLink="/user">
                <div class="icon-wrap">
                    <span class="yaojiangjie-icon yaojiangjie-icon-app-user"></span>
                </div>
                <div class="text">用户</div>
            </div>
        </div>
    </div>
</div>