<div [@routerTransition] style="height: 100%;">
    <div class="home-wrap">
        <div class="content">
            <div class="item box-shadow scan-qrcode" (click)="scanQRCode()">
                <div class="icon-wrap">
                    <span class="icon yaojiangjie-icon-app-qrcode"></span>
                </div>
                <div class="text">扫二维码</div>
            </div>
            <div class="item box-shadow looked-exhibit" routerLink="/looked-exhibit">
                <div class="icon-wrap">
                    <span class="icon yaojiangjie-icon-app-catalog-1"></span>
                </div>
                <div class="text">目录</div>
            </div>
            <div class="item box-shadow user" routerLink="/user">
                <div class="icon-wrap">
                    <span class="icon yaojiangjie-icon-app-settings"></span>
                </div>
                <div class="text">设置</div>
            </div>
        </div>
    </div>
</div>
<yaojiangjie-paging></yaojiangjie-paging>