@import "../../../sass/yaojiangjie/mixin";
@import "../../../sass/yaojiangjie/colors";
.dir-wrap {
    min-height: 100%;
    width: 100%;
    padding: 20px;
    background-color: #f7f7f7;
    box-sizing: border-box;
    .wrap {
        .dir-content {
            .item+.item {
                margin-top: 10px;
            }
            .item {
                position: relative;
                color: #808080;
                background-color: #FFF;
                border-radius: 4px;
                overflow: hidden;
                &.open {
                    .touch-item {
                        left: -120px;
                    }
                    .handle-wrap {
                        right: 0;
                    }
                }
                .touch-item {
                    width: 100%;
                    display: flex;
                    position: relative;
                    left: 0px;
                    transition: all .3s;
                    .triangle-wrap {
                        position: absolute;
                        top: 0;
                        left: 0;
                        @include cssTriangle('topLeft', 26px, $color-theme);
                        .icon {
                            position: absolute;
                            top: -24px;
                            left: 2px;
                            font-size: 10px;
                            color: #FFF;
                            transform: scale(0.6);
                        }
                    }
                    .img-wrap {
                        width: 80px;
                        height: 80px;
                        flex: 0 0 80px;
                        margin-right: 20px;
                        background-size: cover;
                        background-position: top left;
                    }
                    .desc-wrap {
                        flex: 1;
                        overflow: hidden;
                        .title {
                            line-height: 80px;
                            font-size: 15px;
                        }
                    }
                }
                .handle-wrap {
                    width: 120px;
                    height: 80px;
                    line-height: 80px;
                    display: flex;
                    position: absolute;
                    top: 0;
                    right: -120px;
                    transition: all .3s;
                    color: #338FFF;
                    .icon {
                        flex: 1;
                        @include flexMiddle(1);
                        font-size: 20px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .dir-footer {
        width: 100%;
        height: 50px;
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0px;
        .handle-item {
            height: 50px;
            line-height: 50px;
            flex: 1;
            text-align: center;
            font-size: 15px;
            .btn {
                border-radius: 0;
            }
        }
        .clear-all {
            .btn {
                color: #4D4D4D;
                background-color: #FFF;
            }
        }
        .save-all {
            .btn {
                color: #FFF;
                background-color: $color-theme;
            }
        }
    }
}