@import './../../../../sass/yaojiangjie/_mixin';
.common-header {
    width: 100vw;
    max-width: 480px;
    height: 50px;
    background-color: #3290ff;
    padding: 0 20px;
    position: relative;
    z-index: 1001;
    .logo-image {
        width: 70px;
        height: 24px;
        margin-top: 12px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        @include bg-image("/assets/common/images/admin/full-logo");
    }
    .lang-switch {
        margin-top: 10px;
    }
}