@font-face {
  font-family: 'yaojiangjie';
  src:  url('fonts/yaojiangjie.eot?reva5');
  src:  url('fonts/yaojiangjie.eot?reva5#iefix') format('embedded-opentype'),
    url('fonts/yaojiangjie.ttf?reva5') format('truetype'),
    url('fonts/yaojiangjie.woff?reva5') format('woff'),
    url('fonts/yaojiangjie.svg?reva5#yaojiangjie') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="vapps-icon-"], [class*=" vapps-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'yaojiangjie' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vapps-icon-app-back-catalog:before {
  content: "\e900";
}
.vapps-icon-app-close:before {
  content: "\e901";
}
.vapps-icon-app-next-page:before {
  content: "\e902";
}
.vapps-icon-app-pause:before {
  content: "\e903";
}
.vapps-icon-app-play:before {
  content: "\e904";
}
.vapps-icon-app-prev-page:before {
  content: "\e905";
}
.vapps-icon-app-right-arrow:before {
  content: "\e906";
}
.vapps-icon-app-stop:before {
  content: "\e907";
}
